{% extends 'calc/base.html' %}

{% block title %}
Reports
{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow-sm p-4">

        <h2 class="mb-4">
            Queue Reports
        </h2>

        <table class="table table-bordered">

            <tr>
                <th>Date</th>
                <td>{{ today }}</td>
            </tr>

            <tr>
                <th>Served Today</th>
                <td>{{ served_today }}</td>
            </tr>

            <tr>
                <th>Waiting</th>
                <td>{{ waiting }}</td>
            </tr>

            <tr>
                <th>Skipped</th>
                <td>{{ skipped }}</td>
            </tr>

        </table>

        <!-- PDF EXPORT BUTTON -->
        <a href="{% url 'export_reports_pdf' %}"
           class="btn btn-danger">

            Download PDF Report

        </a>

    </div>

</div>

{% endblock %}